# Ignore Git
.git/
.github/

# Ignore the Dockerfile itself
Dockerfile
.dockerignore
.gitignore

# Ignore Go build stuff
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore any temporary files
.DS_Store
Thumbs.db

# Ignore any logs or backup files
*.log
*.bak
